

<h1>添加直播间</h1>
<section class="supplimental">
  <div class="wrapper">

<%= form_for @liveroom do |f| %>
  <% if @liveroom.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @liveroom.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :名称 %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :老师 %><br />
    <%= f.text_field :teacher %>
  </p>
  <p>
    <%= f.label :图片 %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :描述%><br />
    <%= f.text_area :description %>
  </p>
  <p class="button"><%= f.submit "确认"%></p>
<% end %>
</div>
</section>
