

    <script type='text/javascript' src='/term.js'></script>
    <script src="/assets/chat.js?body=1" type="text/javascript"></script>


<link href="/liveroom.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/chat.css" rel="stylesheet"  type="text/css" />

      <h1>直播课程</h1>
<section class="supplimental">

  <div id="divroom" data-roomname='<%= @liveroom.id %>' data-username="<%= @username%>">

<ul class='records'>
<li class='record'>
<div class='userinfo'>
 <img alt="" src='<%= @liveroom.image%>' width="100" height="100" />
 <%= @liveroom.teacher%>
</div>

<h3 class='title'>
   <%=link_to @liveroom.name ,@liveroom %>
</h3>

<div class='desc'>
<time datetime=''>

</time>
</div>
<div class='desc description'>
<p><%= @liveroom.description %></p>

</div>

<br>
<div class='desc'>
  <p class='tags'>授课状态:
  <% if @liveroom.status %>
  正在直播
  <% else%>
  尚未开始
 <% end %>
</p>
</div>

</li>

<% if @is_teacher == 1 %>
	<%= render :partial => 'liverooms/publisher'  %>
<% else %>
	<%= render :partial => 'liverooms/player'  %>
<% end %>
</ul>
<div class="vertical-expander-30" ></div>
</div>
</section>

<section class="supplimental">

  <div class="wrapper">
<div style="float:left;box-shadow: 2px 2px 5px #bbbbbb; border: 2px #cccccc solid;">  
<%= render :partial => 'liverooms/vt'  %>
</div>

<div style="float:left">  
<%= render :partial => 'liverooms/chat'  %>
</div>

</div>
</section>
