<section id="presentation" class="feature">
  <div class="asciicast-wrapper">
    <%= player @asciicast %>
  </div>
</section>

<section>
  <div >
 <ul >
    <% @pictures.each do |pic| %>
     <li style="display:inline" >
      <a href=<%= pic.picture_file %> target="view_frame">
     <%=image_tag(pic.picture_file_url(:thumb)) %> </a> 
     </li>
    <% end %>
  </ul>	
  </div>
</section>

<section>
  <div class="asciicast-wrapper" align="center">
   欢迎使用在线主机编程;用户名:usercode,密码:jeapedu</div>
  <div class="asciicast-wrapper" align="center">

    <iframe src="https://203.166.175.51:4200" width=800 height=600 style="border: outset; background-color:#fff" marginwidth="0" marginheight="0" scrolling="no"></iframe>
  </div>
<section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1><%= @asciicast.title %></h1>

      <div class="description">
        <%= @asciicast.description %>
      </div>

      <%= render :partial => 'other_by_user' %>
    </div>

    <div class="extras">
      <%= render :partial => 'author' %>
      <%= render :partial => 'actions' %>
      <%= render :partial => 'info' %>
      <%# <%= render :partial => 'share' %1> %>
    </div>
  </div>
</section>
