<section id="presentation" class="feature">
  <div class="asciicast-wrapper">
    <%= player @asciicast %>
  </div>
</section>

<section>
  <div >
 <ul >
    <% @pictures.each do |pic| %>
     <li style="display:inline" >
      <a href=<%= pic.picture_file %> target="view_frame">
     <%=image_tag(pic.picture_file_url(:thumb)) %> </a> 
     </li>
    <% end %>
  </ul>	
  </div>
</section>

<section>
  <div id="searchForm" align="center">
   感谢<a href="http://trystack.cn"> trystack.cn</a> 我本站提供云服务。</p>
   如果登陆有问题，请关闭中文输入法。并使用Chrome浏览器。firefox有焦点BUG。</p>
   欢迎使用在线主机编程;用户名:code,密码:code</p>
   </div>
  <div class="asciicast-wrapper" align="center">

    <iframe src="http://203.166.175.51:4200" width=800 height=600 style="background-color:#eee" marginwidth="0" marginheight="0" scrolling="no"></iframe>
  </div>
<section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1><%= @asciicast.title %></h1>

      <div class="description">
        <%= @asciicast.description %>
      </div>

      <%= render :partial => 'other_by_user' %>
    </div>

    <div class="extras">
      <%= render :partial => 'author' %>
      <%= render :partial => 'actions' %>
      <%= render :partial => 'info' %>
      <%# <%= render :partial => 'share' %1> %>
    </div>
  </div>
</section>
